@import '../../../styles/variables.scss';
.toggle-menu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100dvh;
	background-color: #1f2327;
	z-index: 1000;
	.menu-nav {
		width: 100%;
		height: 100dvh;
		display: flex;
		justify-content: center;
		align-items: center;
		.nav-list {
			margin: 0;
			padding: 0;
			width: 50%;
			display: grid;
			grid-template-rows: repeat(6, 1fr);
			align-items: center;
			justify-items: center;
			border-radius: 10px;
			box-shadow: 0px 0px 98px 30px rgba(66, 68, 90, 1);

			.nav-list__item {
				font-size: 20px;
				color: $text-light;
				list-style: none;
				position: relative;
				margin-block: 20px;
				padding-bottom: 5px;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					background-color: rgb(95, 97, 114);
					transform: scaleX(0);
					transition: transform 0.3s ease;
					transform-origin: right;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}
