.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	z-index: 999;
		

& .transaction-modal {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0%);
	border: 1px solid #42474d;
	border-radius: 15px;
	width: 500px;
	height: auto;
	z-index: 1000;
	overlay: hidden;
	background-color: #222831;
	&__title {
		margin: 20px auto;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin: 20px 0px;
		align-items: center;

		& .custom-input {
			font-size: 18px;
		}

		& input {
			min-height: 30px;
			width: 300px;
			border: none;
			outline: none;
			border-radius: 5px;
			padding: 0px 10px;
			font-size: 18px;

			&::placeholder {
				font-size: 14px;
				color: rgb(49, 49, 49);
			}
			}

			& ::placeholder {
				font-size: 25px;
			} 	
		}
		& button {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 150px;
			border: none;
			outline: none;
			border-radius: 5px;
			height: 25px;
			background-color: rgb(95, 145, 253);
			color: white;
			padding: 15px 0px;

			&:hover {
				background-color: #005bb5;
			}
		}
	}
}