.transaction-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	&__backdrop {
		position: absolute;
		top: 25%;
		left: 50%;
		transform: translate(-50%, 0%);
		border: 1px solid #42474d;
		border-radius: 15px;
		width: 500px;
		height: auto;
		z-index: 1001;
		overflow: hidden;
		background-color: #222831;
	}

	&__title {
		margin: 20px auto;
		text-align: center;
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 15px;
		margin: 20px 0px;
		align-items: center;
		padding: 0 20px 20px;
	}

	&__input {
		min-height: 30px;
		width: 300px;
		border: none;
		outline: none;
		border-radius: 5px;
		padding: 0px 10px;
		font-size: 18px;

		&::placeholder {
			font-size: 14px;
			color: rgb(49, 49, 49);
		}

		&[type='number']::-webkit-outer-spin-button,
		&[type='number']::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		&[type='number'] {
			appearance: textfield;
			-moz-appearance: textfield;
		}
	}

	&__error {
		color: #ff4444;
		font-size: 0.875rem;
		width: 300px;
		text-align: left;
		margin-top: -10px;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		border: none;
		outline: none;
		border-radius: 5px;
		padding: 15px 0px;
		color: white;
		cursor: pointer;
		font-weight: bold;

		&--add,
		&--cancel {
			width: 200px;
			height: 35px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			outline: none;
			border-radius: 5px;
			padding: 15px 0px;
			color: white;
			cursor: pointer;
			font-weight: bold;
		}

		&--add {
			background-color: #0070f3;
			&:hover {
				background-color: #005bb5;
			}
		}

		&--cancel {
			background-color: #e0e0e0;
			color: #333;
			&:hover {
				background-color: #c0c0c0;
			}
		}
	}
}
