.wallet-analytics {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	border: 1px solid red;
	column-gap: 75px;

	&__title {
		text-align: center;
		grid-column: 1/3;
		grid-row: 1/2;
		margin: 25px 0;
	}

	&__table {
		grid-row: 2/3;
		grid-column: 1/2;
		display: grid;
		width: fit-content;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto);

		& .column__name,
		& .column__value {
			display: flex;
			flex-direction: column;

			&__item {
				padding: 10px;
				border: 1px solid rgb(255, 255, 255);
				&:hover {
					background-color: #3a3f44;
					cursor: pointer;
				}
			}
		}
	}

	&__chart {
		grid-column: 2/3;
		grid-row: 2/3;
		height: 500px;
		background-color: rgb(78, 78, 78);
	}
}
