.wallet-analytics {
	width: 100%;
	display: grid;
	grid-template-rows: auto 1fr;
	column-gap: 75px;
	place-items: center;

	.kpi-container {
		width: 100%;
		grid-row: 1/2;
		margin: 25px 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		justify-items: flex-start;
	}

	.kpi-column {
		width: 100%;
		display: grid;
		grid-template-rows: auto auto;
		align-items: start;
		border: 1px solid rgb(82, 81, 81);
		border-radius: 15px;

		&__labels,
		&__values {
			height: 50px;
			display: grid;
			grid-template-columns: 25% 1fr;
			padding: 8px 12px;
			place-content: center;
		}

		&__label {
			margin: 0;
			font-size: 14px;
			color: #aaa;
			text-align: left;
			white-space: nowrap;
			align-self: center;
		}

		&__value {
			font-size: 18px;
			font-weight: bold;
			color: #bdbebe;
			text-align: start;
			padding: 8px 12px;
		}
	}

	&__chart {
		grid-row: 2/3;
		height: 700px;
		width: 700px;
		background-color: rgb(78, 78, 78);
		border-radius: 12px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.chart {
			width: 100%;
			display: grid;
			place-content: center;
		}

		.quotient {
			margin-left: 100px;
			display: grid;
			grid-template-columns: repeat(2, auto);

			&__label,
			&__value {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: 30px;
				align-content: center;

				&--token {
					margin: 7px;
					height: 25px;
				}
				.label-title,
				.value-title {
					margin: 7px;
				}
				.label-title {
					text-align: center;
				}
			}
			&__label {
				text-align: center;
			}
		}
	}
}

@media (max-width: 1200px) {
	.wallet-analytics {
		grid-template-columns: 1fr;
		column-gap: 0;

		.kpi-container {
			margin-bottom: 40px;
		}

		&__chart {
			width: 100%;
			height: 500px;
		}
	}
}

@media (max-width: 768px) {
	.wallet-analytics {
		.kpi-container {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}
}

@media (max-width: 480px) {
	.wallet-analytics {
		.kpi-container {
			gap: 15px;
		}

		&__chart {
			height: 300px;
			width: 100%;
		}
	}
}
