.react-datepicker {
  font-family: 'Inter', sans-serif;
}

.react-datepicker__header {
  width: 500px;
}

.react-datepicker__current-month {
  font-size: 22px !important;
 
}

.react-datepicker__day-name {
  font-size: 18px;
  font-weight: 600;
}

.react-datepicker__day {
  font-size: 18px;
}

 .custom-input {
   font-size: 18px;
 }

 input {
   min-height: 30px;
   width: 300px;
   border: none;
   outline: none;
   border-radius: 5px;
   padding: 0px 10px;
   font-size: 18px;

   &::placeholder {
     font-size: 14px;
     color: rgb(49, 49, 49);
   }
 }
