.react-datepicker {
  font-family: 'Inter', sans-serif;
}

.react-datepicker__header {
  width: 500px;
}

.react-datepicker__current-month {
  font-size: 22px !important;
 
}

.react-datepicker__day-name {
  font-size: 18px;
  font-weight: 600;
}

.react-datepicker__day {
  font-size: 18px;
}

