/* -------PIE CHART WRAPPER------- */

.piechart-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	height: auto;

}

/* -------PIE LEGEND------- */

.pie-legend {
	display: flex;
flex-direction: column;
justify-content: center;
	gap: 8px;
	width: 50%;
	&__item {
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		margin: 0;
		padding: 0;
	}

	&__color {
		width: 12px;
		height: 12px;
		border-radius: 3px;
	}

	&__label {
		font-size: 20px;
		color: #e5e5e5;
	}
}

/* -------PIE CHART CARD------- */

.quotient {
	&__label,
	&__value {
		display: flex;
		flex-direction: column;
		gap: 6px;

		.label-title,
		.value-title {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 4px;
		}
	}

	&__label--token,
	&__value--token {
		font-size: 14px;
		color: #cfcfcf;
	}
}

/* -------MEDIA QUERIES------- */

@media (max-width: 768px) {
	.piechart-wrapper {
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	.pie-legend__item {
		font-size: 12px;
	}

	.pie-legend__color {
		width: 10px;
		height: 10px;
	}

	.quotient__label--token,
	.quotient__value--token {
		font-size: 12px;
	}
}
