@import "../../../styles/variables.scss";

.header-menu {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;

	.menu-nav {
		width: 100%;
		.nav-list {
			display: grid;
			grid-template-columns: repeat(6, auto);
			.nav-list__item {
				font-size: 20px;
				height: 100%;
				display: block;
				width: fit-content;
				color: $text-light;
				list-style: none;
				position: relative;
				padding: 2px;
				&::after {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 3px;
					background-color: rgb(95, 97, 114);
					transform: scaleX(0);
					transition: transform 0.3s ease;
					transform-origin: right;
				}

				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;

				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.header-menu {
		display: none;
	}
}
